/*
 *      global.inc.php
 *      
 *      Copyright 2011 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

/* COLORES:
 * border gris: #9F9A9A
 * gris claro: #e6e6e6
 * fuente gris: #7B7B7B
 * verde: #008000
 * amarillo: #FFFF00
 * azul: #3181E1
 **/

body{
	font-family: 'Ubuntu', serif;
	width:1245px;
	height:100%;
	font-size:16px;
}

header{
	width:100%;
	border: 1px solid #9F9A9A;
	margin-bottom:5px;
}
article div#dahsboard{
	display: flex;
}

h1.main-title{
	font-family: 'Philosopher', serif;
	font-size:50px;
	letter-spacing:0px;
}

h1{
	width: 50%;
	font-size:30px;
	letter-spacing:0px;
}

input{
	font-family: 'Ubuntu';
	letter-spacing:0px;
}

div.info{
	float:right;
	font-size: 12px;
	padding-right: 5px;
	padding-top: 3px;
	margin-bottom: 6px;
}

div.info.infophase{
	padding-right: 16px;
	color:#000000;
	font-weight: bold;
}
div.title-and-status{
	display: flex;
}

div#all_groups{
	flex-direction: row;
}

div#status{
	width: 50%;
	top:5px;
	text-align: right;
}

div#status ul li{
	color:#3181E1;
	list-style:none;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: -1px;
	margin-right: 20px;
}

div#menu ul{
	margin:2px;
	margin-bottom:7px;
	padding-left:5px;
}

div#menu ul li{
	display: inline;
	margin-right: 10px;
	font-size: 25px;
	font-weight: bold;
	color:#000000;
}

div#menu ul li:hover{
	border-bottom: 5px solid #9F9A9A !important;
	cursor: pointer;
}

div#menu ul li#opnewticket{
	color: #3181E1;
}

input[type="button"]{
	background-color:#3181E1;
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	letter-spacing: -1px;
	border-color: #DDDFDF #9F9A9A #9F9A9A #DDDFDF;
	border-style: solid;
	border-width: 1px 3px 2px 1px;
	cursor: pointer;
	height:32px;
}

input#btn2save, input#btn2ok, input#btnupdate{
	background-color:#3181E1;
	font-size: 25px;
	height: 40px;
}

input#btnregister{
	font-size: 25px;
	height: 40px;
}

input#btnupdate{
	
}
table, td{
	border: 1px solid #e6e6e6;
}

td.tdphase4{
	background-color: #3181E1;
	color: #FFFFFF;
}
td.tdticketphase4{
	background-color: #FFFFFF;
	color: #000000;
}
tr:nth-child(even) {
	background-color: #e6e6e6;
	color: #000000;
}
tr:nth-child(odd) {
	background-color: #FFFFFF;
	color: #3181E1;
}

table.tickets tr:nth-child(even) {
	background-color: #FFFFFF;
}
table.tickets tr:nth-child(odd) {
	background-color: #e6e6e6;
}
table#tableticketchampions tr td{
	width:50%;
}

table#tableregister{
	border-spacing:5px;
}

table#tableregister tr th,table#tableregister tr td{
	font-size: 20px;
	text-align: left;
	padding: 5px;
	padding-left: 10px;
	width: 220px;
	
}

table#tableregister tr td{
	background-color:#e6e6e6;
	padding: 2px;
	padding-left: 10px;
}

table#tableregister tr td input[type="text"]{
	height: 20px;
	width:500px;
	float:left;
	font-size: 20px;
	font-weight: bold;
	color:#000000;
	text-align: center;
}

table#tablechampions tr td input[type="text"]{
	font-size: 15px;
	font-weight: bold;
	color:#000000;
	text-align: center;
	height: 15px;
}
header h1{
	margin:8px 8px 16px 8px;
	color:#d31d21;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: left;
	padding-top:80px;
	padding-left:70px;
	height: 60px;
	letter-spacing: -2px;
	font-size: 40px;
}

section{
	width:100%;
	float:left;
	border:1px #9F9A9A solid;
	margin-bottom:3px;
}

section article div#container_phase2,div#container_phase3{
	/*visibility:hidden;*/
}

section article h2{
	letter-spacing: -2px;
	margin-left: 9px;
	margin-bottom: 2px;
	font-size: 23px;
	color: #000000;
}

section article div#container_register h2{
	font-size: 30px;
}
section article div.groups{
	border:1px solid #9F9A9A;
	margin:5px;
	float:left;
	width:143px;
}

section article div.groups p{
	text-align:center;
	font-weight:bold;
	font-size:19px;
	border:1px solid #9F9A9A;
	margin:1px;
	padding:2px;
	background-color:#3181E1;
	color:#FFFFFF;
}

section article div ul{
	text-align:center;
	font-weight:bold;
	list-style-type:none;
	margin:8px 1px 8px 1px;
	padding: 1px;
	color: #000000;
}

section article div#ticketowner{
	color: #3181E1;
    float: right;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 18px;
    margin-right: 18px;
	margin-top:5px;
    padding-bottom: 0px;
}

section article div.matches{ 
	width: 98%;
	float:left;
	margin-left: 10px;
}

section article div.button_bottom_right { 
	width: 98%;
	float:right;
}

section article div.button_bottom_right input{
	float:right;
	margin:13px;
}

section article div.button_bottom_center{
	width: 1244px;
	clear:both;
	padding-left:523px;
	padding-top:23px;
	padding-bottom:23px;
}

section article div table{
	width: 100%;
	padding:3px;
}

section article div table#tableregister{
	width: 65%;
}

section article div.matches table th{
	text-align:center;
	font-weight:bold;
	background-color: #3181E1;
	color: #FFFFFF;
	font-size:18px;
	padding:4px;
}

section article div.matches table td{
	text-align:center;
	font-weight:bold;
}

section article div.matches table td select{
	font-weight:bold;
	font-size:14px;
	text-align: center;
}

section article div.matches table#tablephase2 td select,
section article div.matches table#tablephase3 td select,
section article div.matches table#tablephase4 td select,
section article div.matches table#tablephase5 td select,
section article div.matches table#tablephase6 td select{
	width:160px;
}

/*****************DESKTOP**************/
header div#loading{
	position: absolute;
	top:12px;
	left:600px;
	font-size:15px;
	background-color: #f1ff60;
	color:#000000;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

section article div#clasificacion h2{
	font-size:30px;
	font-weight: bold;
}

section article div#clasificacion{
float:left;
}

section article div#clasificacion table{
	margin:5px;
	padding:3px;
	width:760px;
	font-size:20px;
}

section article div#clasificacion table th{
	text-align:center;
	font-weight:bold;
	background-color: #3181E1;
	color: #FFFFFF;
	padding:2px 2px 4px 2px;
}

section article div#clasificacion table td{
	text-align:center;
	font-weight:bold;
}

section article div#clasificacion table td.tdusername{
	max-width:300px;
	text-align: left;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

section article div#morosos{
	float:right;
	margin:18px 13px 13px 15px;
	width: 440px;
}

section article div#morosos table td{
	text-align: left;
	padding-left: 7px;
	font-size: 16px;
	font-weight:bold;
	max-width: 240px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

section article table td.linkimg{
	text-align: center;
	padding: 0px;
	width: 10%;
}

section article table td.linkimg img,i{
	cursor: pointer;
}


section article div#morosos table td.pos{
	text-align: center;
	padding: 3px;
}

section article div#morosos table tr:nth-child(even) {
	background-color: #FFFFFF;
	color: #000000;
}
section article div#morosos table tr:nth-child(odd) {
	background-color: #e6e6e6;
	color: #000000;
}

section article div#morosos table tr td input[type='password']{
	text-align: center;
}

section article div#morosos table#listusers tr:nth-child(even), section article div#morosos table#listusers tr:nth-child(odd) {
	background-color: #FFFFFF;
	color: #000000;
}
	
section article div#morosos table#listusers td.moroso{
	color:#c3c3c3;
}

footer{
	text-align: center;
	padding: 0px;
	color:#ccc;
	font-size: 15px;
	letter-spacing: -1px;
}
footer a{
	text-decoration: none;
	color:#ccc;
}

/*Material Styles*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-30 { 
	font-size: 30px; 
	padding-top: 3px;
}
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.success{
	color:green;
}

.material-icons.delete{
	color:#ff5500;
}