/*
 *      global.inc.php
 *      
 *      Copyright 2011 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

body{
	font-family: 'Ubuntu';
	width:1245px;
	height:100%;
	font-size:16px;
}

header{
	width:100%;
	border: 1px solid #9F9A9A;
	margin-bottom:5px;
}
h1{
	font-size:30px;
	letter-spacing:0px;
}

input, select{
	font-family: 'Ubuntu';
}

input[type="button"]{
	background-color:#3181E1;
	color:#FFFFFF;
	font-size:18px;
	border-color: #DDDFDF #9F9A9A #9F9A9A #DDDFDF;
	border-style: solid;
	border-width: 1px 3px 2px 1px;
	cursor: pointer;
	height:32px;
}

input#btn2save, input#btn2ok, input#btnupdate, input#btncancel{
	background-color:#3181E1;
	font-size: 25px;
	height: 40px;
}

input#btnregister{
	font-size: 25px;
	height: 40px;
}

input#btncancel{
	background-color:#FF292F;
}
table, td{
	border: 1px solid #9F9A9A;
}

td.tdphase4{
	background-color: #5b9bff;
	color: #FFFFFF;
}
td.tdticketphase4{
	background-color: #FFFFFF;
	color: #7B7B7B;
}
tr:nth-child(even) {
	background-color: #5b9bff;
	color: #FFFFFF;
}
tr:nth-child(odd) {
	background-color: #FFFFFF;
	color: #7B7B7B;
}

table.tickets tr:nth-child(even) {
	background-color: #FFFFFF;
	color: #7B7B7B;
}
table.tickets tr:nth-child(odd) {
	background-color: #7B7B7B;
	color: #FFFFFF;
}
table#tableticketchampions tr td{
	width:50%;
}

table#tableregister{
	border-spacing:5px;
}

table#tableregister tr th,table#tableregister tr td{
	font-size: 30px;
	text-align: left;
	padding: 5px;
	padding-left: 10px;
	width: 220px;
	
}

table#tableregister tr td{
	background-color:#008000;
	padding: 5px;
	padding-left: 10px;
}

table#tableregister tr td input[type="text"]{
	height: 33px;
	width:500px;
	float:left;
	font-size: 30px;
	font-weight: bold;
	color:#000000;
	text-align: center;
}
header h1{
	font-family: 'Philosopher', serif;
	margin:8px;
	color:#3181E1;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: left;
	padding-top:80px;
	padding-left:70px;
	height: 60px;
	letter-spacing: -2px;
	font-size: 50px;
}

section{
	width:100%;
	float:left;
	border:1px #9F9A9A solid;
	margin-bottom: 15px;
}

section article div#container_phase2,div#container_phase3{
	/*visibility:hidden;*/
}

section article h2{
	float:left;
	letter-spacing: -2px;
	margin-left: 9px;
	margin-bottom: 2px;
	font-size: 23px;
	color: #000000;
}

section article div#container_register h2{
	font-size: 30px;
}
section article div.groups{
	border:1px solid #9F9A9A;
	margin:5px;
	float:left;
	width:143px;
}

section article div.groups p{
	text-align:center;
	font-weight:bold;
	font-size:19px;
	border:1px solid #9F9A9A;
	margin:1px;
	padding:2px;
	background-color:#FF292F;
	color:#FFFFFF;
}

section article div ul{
	text-align:center;
	font-weight:bold;
	list-style-type:none;
	margin:8px 1px 8px 1px;
	padding: 1px;
	color: #7B7B7B;
}

section article div.matches{
	width: 98%;
	float:left;
	margin-left: 10px;
}

section article div.button_bottom_right { 
	float:right;
}

section article div.button_bottom_right input{
	float:right;
	margin:13px;
}

section article div.button_bottom_left { 
	float:left;
	margin:13px;
}

section article div.button_bottom_center{
	width: 1244px;
	clear:both;
	padding-left:523px;
	padding-top:23px;
	padding-bottom:23px;
}

section article div.matches table{
	width: 100%;
	padding:3px;
}

section article div.matches table th{
	text-align:center;
	font-weight:bold;
	background-color: #ff292f;
	color: #FFFFFF;
	font-size:18px;
	padding:4px;
}

section article div.matches table td{
	text-align:center;
	font-weight:bold;
}

section article div.matches table td select{
	font-weight:bold;
	font-size:14px;
	text-align: center;
}

footer{
	text-align: center;
	padding: 0px;
	color:#ccc;
	font-size: 15px;
	letter-spacing: -1px;
}
footer a{
	text-decoration: none;
	color:#ccc;
}

